body{
    background-color: #B2DFDB;
    min-height: 100%;
}

#menubar{
    background-color: #26C6DA;
    position: fixed;
}

#musicContainer{
    background-color: #B2DFDB;
    margin-left: 18%;
    margin-top: 64px;
    margin-bottom: 60px
}

.favoriteArtist{
    fill: #00a;
}

#aInfo{
    margin-right: 2%;    
}

.songTitle{
    color: #546E7A;
    padding: 0;
    margin: 0;
}

.margin-top-3{
    margin-top: 3%;
}

.padding-1{
    padding: 2%;
}

.nomargin{
    margin: 0;
    padding:0;
}

.songInfo{
    vertical-align: center;
}

#fixedFooter{
    background-color: #546E7A;
    width: 100%;
    height: 60px;
}

#albumSideNav{
    width: 18%;
    position: fixed;
    height: 80%;
    margin-top: 64px; /*toolbar size*/
}