<div ng-controller="createRoomCtrl" class="container">
    <!--<md-toolbar id="menubar">
        <div class="md-toolbar-tools">
            <a href="#/">
                <md-button aria-label="Go Back">
                    Go Back
                </md-button>
            </a>
            <h2>
            <span>plexus</span>
        </h2>
            <span flex></span>
        </div>
    </md-toolbar>-->

    <!--<span ng-hide="roomNameProgressLine">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </span>-->

    <md-card ng-hide="roomNameCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Room name generated: {{roomName}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>

</div>