<md-toolbar id="menubar">
    <div class="md-toolbar-tools">
        <a href="#/">
            <md-button aria-label="Go Back">
                Go Back
            </md-button>
        </a>
        <h2>
            <span>plexus</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>


<div ng-controller="joinRoomCtrl" id="joinRoomDiv">

    <md-content layout-padding>
        <md-input-container class="md-block">
            <label>Room name</label>
            <input required md-no-asterisk name="Room name" ng-model="roomName">
            <md-button class="md-raised" ng-click="joinRoom()">Join</md-button>
        </md-input-container>
    </md-content>

    <!--<div class="input-group">
        <input type="text" class="form-control" placeholder="Room name" ng-model="roomName">
    </div>-->

    <!--</br>

    <button type="button" class="btn btn-info" ng-click="joinRoom()">Join</button>-->
</div>