<div ng-controller="mainCtrl">
    <md-toolbar id="menubar">
        <div class="md-toolbar-tools">
            <h2>
                <span>plexus</span>
            </h2>

            <md-button id="player" class="md-fab md-mini md-primary" aria-label="Play" ng-click="playSong()">
                <md-icon md-svg-src="img/icons/ic_play_arrow_24px.svg"></md-icon>
            </md-button>


            <span ng-hide="songInfo">{{songName}} by {{artistName}}</span>


            <span flex></span>

            <a href="#/createroom">
                <md-button class="md-raised md-primary" aria-label="Create Room">Create Room</md-button>
            </a>
            <a href="#/joinroom">
                <md-button class="md-raised" aria-label="Join Room">Join Room</md-button>
            </a>
            <md-menu md-position-mode="target-right target">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="">
                            <div layout="row" flex>
                                <p flex>About</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="">
                            <div layout="row" flex>
                                <p flex>Help</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="">
                            <div layout="row" flex>
                                <p flex>Donate</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>
    </md-toolbar>
</div>