<div ng-controller="mainCtrl" ng-cloak>

    <div ng-hide="loading">
        <div layout="column" layout-align="center center">
            <md-progress-circular md-diameter="96" md-mode='indeterminate'></md-progress-circular>
            <h2>Loading data...</h2>
        </div>
    </div>

    <div ng-hide="mainContent">
        <md-toolbar id="menubar">
            <div class="md-toolbar-tools">
                <h2>
                    <span>plexus</span>
                </h2>

                <span flex></span>

                <!--<md-button class="md-raised md-primary" ng-click="showCreateRoom()" aria-label="Create Room">Create Room</md-button>
                <md-button class="md-raised" ng-click="showJoinRoom($event)" aria-label="Join Room">Join Room</md-button>-->
                <a href="#">
                    <md-icon ng-click="toggleRight()" md-svg-icon="img/icons/ic_audiotrack_white_24px.svg"></md-icon>
                </a>

                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-svg-icon="img/icons/ic_more_vert_white_24px.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="">
                                <div layout="row" flex>
                                    <a ng-click="destroyDb()">Delete Db</a>
                                </div>
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>

            </div>
        </md-toolbar>

        <!--main content starts here-->

        <section layout="row">

            <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-disable-backdrop md-whiteframe="4"
                id="albumSideNav">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Artists</h1>
                </md-toolbar>
                <md-content>
                    <md-list>
                        <md-list-item class="md-1-line" ng-repeat="artist in artists" ng-click="goToArtist(artist, $event)" class="noright">
                            <p>{{artist}}</p>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-sidenav>

            <md-content flex>

                <div id="musicContainer">
                    <div class="container-fluid">

                        <div class="padding-1" ng-hide="artistInfo">
                            <div class="row">
                                <div class="pull-left" id="aInfo">
                                    <img ng-src="{{artistImage}}" class="img-circle">
                                </div>
                                <div>
                                    <h2 ng-bind="artistName"></h2>
                                    <img src="img/icons/ic_favorite_red_48px.svg">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4" layout="column" ng-repeat="album in albums | orderBy: 'album'">
                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">{{album.album}}</span>
                                        <p>{{album.artist}}</p>
                                    </md-card-title-text>
                                    <md-card-title-media>
                                        <div class="md-media-sm card-media"><img src="cover.jpg"></div>
                                    </md-card-title-media>
                                </md-card-title>
                                <md-card-content>
                                    <md-list>
                                        <md-list-item class="md-1-line" ng-repeat="song in album.songs | orderBy: 'no'">
                                            <div class="md-list-item-text">
                                                <md-icon md-svg-icon="img/icons/ic_share_white_18px.svg" ng-click="share(album,song)"></md-icon>
                                                <a href="#" class="songTitle" data-path="{{song.path}}" data-album="{{album.album}}" data-no="{{song.no}}" data-title="{{song.title}}"
                                                    data-artist="{{album.artist}}" ng-click="playSong($event)">{{ song.title }}</a>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                </div>
            </md-content>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Ongoing Connections</h1>
                </md-toolbar>
                <md-content layout-padding ng-hide="connectionisOn">
                    <h4>You have no ongoing connections...</h4>
                     <h5>Create one or join one!</h5>
                    <md-button class="md-raised md-primary" ng-click="showCreateRoom()" aria-label="Create Room">Create Room</md-button>
                    <md-button class="md-raised" ng-click="showJoinRoom($event)" aria-label="Join Room">Join Room</md-button>
                </md-content>
                <md-content layout-padding ng-show="connectionisOn">
                    <p>You've got some songs from <strong>Rob Jackson</strong></p>
                    <md-list>
                        <md-list-item>
                            <p>Head Down</p>
                            <md-icon md-svg-icon="img/icons/ic_play_arrow_black_18px.svg" aria-label="Open Chat" class="md-secondary md-hue-3"></md-icon>
                        </md-list-item>
                        <md-list-item>
                            <p>I Me Mine</p>
                            <md-icon md-svg-icon="img/icons/ic_play_arrow_black_18px.svg" aria-label="Open Chat" class="md-secondary md-hue-3"></md-icon>
                        </md-list-item>
                        <md-list-item>
                            <p>Dig a Pony</p>
                            <md-icon md-svg-icon="img/icons/ic_play_arrow_black_18px.svg" aria-label="Open Chat" class="md-secondary md-hue-3"></md-icon>
                        </md-list-item>
                    </md-list>
                    <md-button class="md-primary">
                        Close Connection
                    </md-button>
                </md-content>
            </md-sidenav>
        </section>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" id="fixedFooter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-sm-1">
                    <md-button id="player" class="md-fab md-mini md-primary" aria-label="Play" ng-click="play()">
                        <img ng-src="{{indicator}}" alt="">
                    </md-button>
                </div>
                <div class="col-md-11 col-sm-11">
                    <h4 ng-bind="playingSong">Before Your Very Eyes...</h4>
                    <h5 ng-bind="playingArtist">Atoms For Peace</h5>
                </div>
            </div>
        </div>
    </nav>
</div>

</div>