<div ng-controller="mainCtrl">
    <md-toolbar id="menubar">
        <div class="md-toolbar-tools">
            <h2>
                <span>plexus</span>
            </h2>

            <!--<md-button id="player" class="md-fab md-mini md-primary" aria-label="Play" ng-click="playSong()">
                <md-icon md-svg-src="img/icons/ic_play_arrow_24px.svg"></md-icon>
            </md-button>-->

            <span class="my-player"></span>

            <span flex></span>

            <a href="#/createroom">
                <md-button class="md-raised md-primary" aria-label="Create Room">Create Room</md-button>
            </a>
            <a href="#/joinroom">
                <md-button class="md-raised" aria-label="Join Room">Join Room</md-button>
            </a>
            <md-menu md-position-mode="target-right target">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="">
                            <div layout="row" flex>
                                <p flex>Change root folder</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>
    </md-toolbar>

    <!--main content-->

    <div id="musicContainer">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4" ng-repeat="album in albums | orderBy: 'album'">
                <md-card>
                    <img id="cover" ng-src="http://lorempixel.com/200/200/" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{album.album}}</span>
                            <span ng-repeat="artist in album.artist">
                                    <ul class="list-inline">
                                        <li>{{artist}}</li>
                                     </ul>
                                </span>
                        </md-card-title-text>
                        <md-button class="md-fab md-primary" aria-label="Favorite">
                            <md-icon md-svg-icon="img/icons/ic_play_arrow_24px.svg"></md-icon>
                        </md-button>
                    </md-card-title>
                    <md-card-content>
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="song in album.songs | orderBy: 'no'">
                                <div class="md-list-item-text" class="md-avatar-icon">
                                    <md-button class="md-icon-button md-accent" aria-label="Favorite">
                                        <md-icon  md-svg-icon="img/icons/ic_play_arrow_24px.svg"></md-icon>
                                    </md-button>
                                    <a href="#" class="songTitle" id="{{song.path}}" ng-click="playSong($event)">{{ song.title }}</a>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>

</div>